VITE_CTP_PROJECT_KEY=PROJECT_KEY
VITE_CTP_CLIENT_SECRET=CLIENT_SECRET
VITE_CTP_CLIENT_ID=CLIENT_ID
VITE_CTP_AUTH_URL=AUTH_SERVICE_URL
VITE_CTP_API_URL=API_HOST_URL
VITE_CTP_SCOPES=DEFAULT_CUSTOMER_SCOPE